
.places {
  max-width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.places h1 {
  width: 100%;
  padding-left: 20px;
  font-size: 30px;
}

.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid red;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}

.places h2 {
  font-size: 30px;
}
